<!--<nav class="navbar navbar-expand-sm bg-primary navbar-dark">-->
<!--  <ul class="navbar-nav">-->
<!--    <li class="nav-item">-->
<!--      <a routerLink="users" routerLinkActive="active" class="nav-link">User List</a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a routerLink="create-user" routerLinkActive="active" class="nav-link">Create User</a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</nav>-->
<body >
<header class="header" >
      <a class="text"  routerLink="users" routerLinkActive="active"  >User List</a>
      <a class="text"  routerLink="create-user" routerLinkActive="active" >Create User</a>
</header>
  <br>
  <br>
<div class="container">
  <router-outlet></router-outlet>
 </div>

</body>
<br>
<div class="page-footer font-small special-color-dark pt-2  color" >
  <div class="footer-copyright text-center py-3">Maryana Martyniuk
  </div>
</div>

